<nb-layout>
  <nb-layout-header fixed>
    <h2>Angular Chat App</h2>
  </nb-layout-header>

  <nb-sidebar>
    <h4>List of Channels:</h4>
    <div *ngFor="let channel of channels">
      <button nbButton status="info" (click)="switchChannel(channel)">
        {{ channel.name }}
      </button>
    </div>
    
  </nb-sidebar>
  
  <nb-layout-column>
    <app-channel [channel]="currentChannel"/>
  </nb-layout-column>

  <nb-layout-footer fixed>

      <input nbInput fullWidth status="primary" placeholder="Say something" [formControl]="msgText">
      <button nbButton (click)="sendMessage()">
        <nb-icon icon="paper-plane-outline"></nb-icon>
      </button>

  </nb-layout-footer>
</nb-layout>