<nb-layout>
  <nb-layout-header fixed>Angular Chat App</nb-layout-header>

  <nb-sidebar>Sidebar Content</nb-sidebar>
  
  <nb-layout-column>
    Page Content <button nbButton>Hello World</button>
    <app-message *ngFor="let message of messageHistory" [message]="message"/>
  </nb-layout-column>

  <nb-layout-footer>

      <input nbInput fullWidth status="primary" placeholder="Say something" [formControl]="msgText">
      <button nbButton (click)="sendMessage()">
        <nb-icon icon="paper-plane-outline"></nb-icon>
      </button>

  </nb-layout-footer>
</nb-layout>